<html >
    <body >
        <div class="padre">
            <div class="hijo">
                <div class="nieto_nombre">
                    {{nombre}}
                    <hr style="height:2px;border-width:0;color:rgb(0, 0, 0);background-color:rgb(181, 253, 184)">
                    <br>    
                    <div class="nieto_description">
                        Mi descripción:
                        <br>
                        <br>{{description}}
                    </div>
                    <div class="nieto_birthday">
                        Nací en el año {{birthday}}
                    </div>
                </div>
            </div>
          </div>
    </body>
</html>